<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fahmiar.iotforkids">

    <application
        android:allowBackup="false"
        android:icon="@drawable/icon_logo1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_logo1"
        android:supportsRtl="true"
        android:theme="@style/Theme.IoTForKids">

        <activity
            android:name=".lamp_iot"
            android:exported="true" />
        <activity
            android:name=".project_new"
            android:exported="true" />
        <activity
            android:name=".Frag_Frame"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".Content_Activity"
            android:exported="true" />
        <activity
            android:name=".SplashSreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PopActivity"
            android:theme="@style/Theme.IoTForKids.PopMe"
            android:exported="true">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name="org.eclipse.paho.android.service.MqttService" />
    </application>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>